.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding: var(--main-gap) 0;
  width: 100%;
  background-color: transparent;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    gap: 97px;

    @include minidesk {
      gap: 40px;
    }

    @include small-tablet {
      gap: 0;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &__logo {
    width: 72px;
    height: 72px;

    &-link {
      flex-shrink: 0;
    }
    &-wrapper {
      display: flex;
      gap: 14px;

      @include mobile {
        gap: 8px;
      }
    }

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include mobile {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    @include mobile {
      font-size: 8px;
      line-height: 10px;
    }
  }

  &__title,
  &__descr {
    display: block;
    max-width: 200px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 34px;
    background-image: url('../img/icons/Location.svg');
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;

    &-title {
      font-weight: 700;
    }

    &-descr,
    &-title {
      font-style: normal;
      font-size: 16px;
      line-height: 21px;
      color: var(--color-mirage);
    }

    @include minidesk {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__phone {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-mirage);

    &-button {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: var(--yellow-orange);

      @include mobile {
        font-size: 8px;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    @include mobile {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__socials {
    justify-content: end;

    @include small-tablet {
      display: none;
    }
  }
}

