.hero {
  position: relative;
  z-index: 1;
  padding-top: 280px;
  padding-bottom: 60px;
  width: 100%;
  background-image: url('../img/bg/hero-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include minidesk {
    padding-top: 140px;
  }

  @include mobile {
    padding-bottom: 30px;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 50%;
    max-width: 979px;

    @include minidesk {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include minidesk {
      align-items: center;
    }
  }

  &__title {
    margin-bottom: var(--main-gap);

    @include minidesk {
      text-align: center;
    }
  }

  &__descr {
    margin-bottom: calc(var(--main-gap) * 2);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;

    @include minidesk {
      text-align: center;
    }
  }

  &__title,
  &__descr {
    max-width: 681px;
  }

  &__btn {
    display: block;
    margin-bottom: 20px;

    &-wrapper {
      max-width: 460px;
      margin-bottom: 246px;

      @include big-desktop {
        margin-bottom: 100px;
      }

      @include mobile {
        margin-bottom: 50px;
      }
    }

  }

  &__text {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 305px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include minidesk {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-item {
    &__img {
      width: 68px;
      height: 68px;
      margin-bottom: 10px;
    }

    &__title {
      margin-bottom: 10px;
      display: block;
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
    }

    &__text {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }

    @include minidesk {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      max-width: 340px;
    }
  }
}
