.video {
  padding-bottom: 120px;

  @include tablet {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 34px;
    text-align: center;
  }

  &__content {
    position: relative;
    padding: 0 20px;

  }

  &__slide {
    display: flex;
    justify-content: center;
  }

  &__slide iframe {
    border-radius: 20px;
    max-width: 308px;
    max-height: 550px;
  }

  &__arrow-prev,
  &__arrow-next {
    width: 22px;
    height: 14px;
  }

  &__arrow-next {
    transform: rotate(180deg);
  }
}

.video-swiper-button {

  &-prev,
  &-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    z-index: 2;
    box-shadow: inset 0px -8px 0px -4px rgba(0, 0, 0, 0.1);
    /* Linear */
    background: linear-gradient(180.00deg, rgb(253, 234, 68), rgb(253, 179, 68) 100%);

    &.swiper-button-disabled {
      opacity: 0.5;
    }

    &:hover {
      box-shadow: inset 0px -8px 0px -4px rgba(0, 0, 0, 0.1), 0px 0px 20px 0px rgb(253, 179, 68);
    }
  }

  &-prev {
    left: -10px;
  }

  &-next {
    right: -10px;
  }
}
