<section class="contacts">
    <div class="contacts__card card card--noshadow">
      <h2 class="contacts__title">Контакты</h2>
      <span class="contacts__subtitle">Офис:</span>
      <span class="contacts__descr">г. Москва, Волоколамское шоссе, д.100</span>
      <span class="contacts__subtitle">График работы:</span>
      <span class="contacts__descr">9:00 - 21:00</span>
      <span class="contacts__subtitle">Телефон:</span>
      <span class="contacts__descr">+7 (925) 888-19-16</span>
      <span class="contacts__subtitle">Мессенджеры и соц. сети:</span>
      <div class="contacts__socials socials">
      <a class="socials__link socials__link--whatsapp" href="#"></a>
      <a class="socials__link socials__link--telegram" href="#"></a>
      <a class="socials__link socials__link--instagram" href="#"></a>
      <a class="socials__link socials__link--youtube" href="#"></a>
    </div>
    </div>
    <iframe src="https://yandex.ru/map-widget/v1/?scroll=false&um=constructor%3A3d33f21ba4b3ca38357d4179749c633944411a8d02bb116b3cfdfc437bb21474&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
</section>
