<section class="deal">
  <div class="container">
    <article class="deal__card deal-card">
      <h2 class="deal__title title">
        <span class="title title--regular">Выполняем заказы на поиск автомобиля</span> под ключ от 2 дней
      </h2>
      <div class="deal-card__inner">
        <div class="deal__left">
          <div class="f-carousel deal__carousel deal-carousel" id="myCarousel">
            <div class="f-carousel__viewport">
              <div class="f-carousel__track">
                <div
                  class="f-carousel__slide deal-carousel__slide"
                  data-fancybox="gallery"
                  data-src="img/deal-photo/bmw1.webp"
                  data-thumb-src="img/deal-photo/bmw1.webp">
                  <img src="img/deal-photo/bmw1.webp" alt="Front right side of a BMW car" />
                </div>
                <div
                  class="f-carousel__slide deal-carousel__slide"
                  data-fancybox="gallery"
                  data-src="img/deal-photo/bmw2.webp"
                  data-thumb-src="img/deal-photo/bmw2.webp">
                  <img src="img/deal-photo/bmw2.webp" alt="Front left side of a BMW car" />
                </div>
                <div
                  class="f-carousel__slide deal-carousel__slide"
                  data-fancybox="gallery"
                  data-src="img/deal-photo/bmw3.webp"
                  data-thumb-src="img/deal-photo/bmw3.webp">
                  <img src="img/deal-photo/bmw3.webp" alt="Interior view from driver seat" />
                </div>
                <div
                  class="f-carousel__slide deal-carousel__slide"
                  data-fancybox="gallery"
                  data-src="img/deal-photo/bmw4.webp"
                  data-thumb-src="img/deal-photo/bmw4.webp">
                  <img src="img/deal-photo/bmw4.webp" alt="Rear right side of a BMW car" />
                </div>
                <div
                  class="f-carousel__slide deal-carousel__slide"
                  data-fancybox="gallery"
                  data-src="img/deal-photo/bmw5.webp"
                  data-thumb-src="img/deal-photo/bmw5.webp">
                  <img src="img/deal-photo/bmw5.webp" alt="Rear left side of a BMW car" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="deal__right">
          <h2 class="deal-card__title">BMW F30</h2>
          <div class="deal-card__specifications">
            <div class="deal-card__spec-wrapper">
              <span class="deal-card__spec-name">Год выпуска</span>
              <span class="deal-card__spec-title">2015</span>
            </div>
            <div class="deal-card__spec-wrapper">
              <span class="deal-card__spec-name">Пробег</span>
              <span class="deal-card__spec-title">29 000 км</span>
            </div>
            <div class="deal-card__spec-wrapper">
              <span class="deal-card__spec-name">Двигатель</span>
              <span class="deal-card__spec-title">2.0 дизель</span>
            </div>
            <div class="deal-card__spec-wrapper">
              <span class="deal-card__spec-name">Коробка</span>
              <span class="deal-card__spec-title">АКПП</span>
            </div>
            <div class="deal-card__spec-wrapper">
              <span class="deal-card__spec-name">Привод</span>
              <span class="deal-card__spec-title">Задний</span>
            </div>
            <div class="deal-card__spec-wrapper">
              <span class="deal-card__spec-name">Владельцев</span>
              <span class="deal-card__spec-title">1</span>
            </div>
          </div>
          <div class="deal-card__saving-stamp saving-stamp">
            <div class="saving-stamp__left">
              <span class="saving-stamp__text">Стоимость: <b>1 830 000 руб.</b></span>
              <span class="saving-stamp__text">Купили за: <b>1 800 000 руб.</b></span>
            </div>
            <div class="saving-stamp__right">
              <span class="saving-stamp__descr">Сэкономлено</span>
              <span class="saving-stamp__descr saving-stamp__descr--red-highlight">30 000 руб.</span>
            </div>
          </div>
          <div class="deal-card__bottom">
            <div class="deal-card__bottom-pros">
              <span class="deal-card__bottom-title">Достоинства</span>
              <ul class="list-reset deal-card__bottom-list">
                <li class="deal-card__bottom-item">Один владелец</li>
                <li class="deal-card__bottom-item">Оригинальный пробег 29.000км</li>
                <li class="deal-card__bottom-item">Идеальное техническое состояние</li>
              </ul>
            </div>
            <div class="deal-card__bottom-cons">
              <span class="deal-card__bottom-title">Недостатки</span>
              <ul class="list-reset deal-card__bottom-list">
                <li class="deal-card__bottom-item">Пара косметических окрасов</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
