<header class="header">
  <div class="container header__container">
    <div class="header__info">
      <div class="header__logo-wrapper">
        <a class="header__logo-link" href="#">
          <img class="header__logo" src="img/logo.webp" alt="logo" />
        </a>
        <div class="header__title-wrapper">
          <span class="header__title">Swan Auto</span>
          <span class="header__descr">Провессиональный автоподбор в Москве и Московской области</span>
        </div>
      </div>
      <address class="header__address">
        <span class="header__address-descr">Офис в Москве:</span>
        <span class="header__address-title">Волоколамское шоссе, д.100</span>
      </address>
      <div class="header__contacts">
        <a class="header__phone-link" href="tel:79258881916">
          <span class="header__phone">+7 (925) 888-19-16</span>
          <span class="header__phone-button">Заказать звонок</span>
        </a>
      </div>
    </div>
    <div class="socials header__socials">
      <a class="socials__link socials__link--whatsapp" href="#"></a>
      <a class="socials__link socials__link--telegram" href="#"></a>
      <a class="socials__link socials__link--instagram" href="#"></a>
      <a class="socials__link socials__link--youtube" href="#"></a>
    </div>
  </div>
</header>
