<section class="hero">
  <div class="container hero__container">
    <h1 class="title hero__title">Подберем автомобиль <span class="title title--regular">с гарантией технической и юридической чистоты</span>
    </h1>
    <span class="hero__descr">
      Отберем
      <b>лучшие предложения</b>
      на рынке, проверим все документы и проведем полную диагностику
    </span>
    <div class="hero__btn-wrapper">
      <button class="btn-reset btn hero__btn">Оставить заявку на подбор авто</button>
      <span class="hero__text">Услуга подбора авто в 80% случаях окупается за счет торга с продавцом</span>
    </div>
    <ul class="list-reset hero__list">
      <li class="hero__item hero-item">
        <img class="hero-item__img" src="img/icons/hero-car-icon.svg" alt="">
        <span class="hero-item__title">Персонализированный подбор</span>
        <p class="hero-item__text">Индивидуальный подход к каждому клиенту. Мы учитываем все ваши пожелания и критерии при подборе автомобиля.</p>
      </li>
      <li class="hero__item hero-item">
        <img class="hero-item__img" src="img/icons/hero-clock-icon.svg" alt="">
        <span class="hero-item__title">Экономия времени и денег</span>
        <p class="hero-item__text">Максимальная экономия вашего времени и средств. Мы подбираем автомобили, оптимально соответствующие вашему бюджету и требованиям.</p>
      </li>
      <li class="hero__item hero-item">
        <img class="hero-item__img" src="img/icons/hero-paper-icon.svg" alt="">
        <span class="hero-item__title">Полная прозрачность</span>
        <p class="hero-item__text">Полная прозрачность и открытость процесса. Вы получаете полный отчет о найденных вариантах и их проверке, а также сопровождение на каждом этапе сделки.</p>
      </li>
    </ul>
  </div>
</section>
