<section class="instruction">
  <div class="container instruction__container">
    <h2 class="title instruction__title">Как мы подбираем автомобиль</h2>
    <p class="descr instruction__descr">
      Наша компания применяет комплексный подход к подбору автомобилей, который включает в себя 12 этапов тщательной проверки и диагностики для
      обеспечения максимального качества и надежности
    </p>
    <div class="instruction__content">
      <div class="instruction__column">
        <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Анализ рулевого управления</span>
          <p class="instruction-block__text">Мы тщательно оцениваемработоспособность рулевой системы, чтобы гарантировать её идеальное состояние.</p>
        </div>
        <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Оценка состояния подвески</span>
          <p class="instruction-block__text">Проводим детальный осмотр подвески, обеспечивая безопасность и комфорт вождения.</p>
        </div>
        <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Проверка документов и идентификационных номеров</span>
          <p class="instruction-block__text">
            Тщательно верифицируем подлинность документов, VIN и номеров двигателя, исключая любые юридические риски.
          </p>
        </div>
        <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Экспертиза кузова на предмет ДТП</span>
          <p class="instruction-block__text">Осматриваем автомобиль на наличие следов предыдущих повреждений или ремонтов после аварий.</p>
        </div>
        <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Верификация пробега</span>
          <p class="instruction-block__text">
            Анализируем подлинность указанного пробега, используя как документальные подтверждения, так и экспертные методы оценки.
          </p>
        </div>
      </div>
      <div class="instruction__column">
        <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Комплексная компьютерная диагностика</span>
          <p class="instruction-block__text">
            Применяем современныетехнологии для анализа двигателя, трансмиссии и основных систем авто, выявляя скрытые неисправности.
          </p>
        </div>
        <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Проверка тормозной системы</span>
          <p class="instruction-block__text">
            Гарантируем исправность тормозной системы для обеспечения безопасности на дороге.
          </p>
        </div>
      </div>
      <div class="instruction__column">
        <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Исследование лакокрасочного покрытия</span>
          <p class="instruction-block__text">
            Используем профессиональные толщиномеры для проверки качества кузова на наличие скрытых дефектов и ремонта.
          </p>
        </div>
         <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Диагностика электрооборудования</span>
          <p class="instruction-block__text">
            Осуществляем полную проверку электрических систем и компонентов автомобиля.
          </p>
        </div>
         <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Оценка состояния салона</span>
          <p class="instruction-block__text">
            Инспектируем интерьер авто, уделяя внимание износу, чистоте и общему состоянию салона.
          </p>
        </div>
         <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Исследование истории эксплуатации</span>
          <p class="instruction-block__text">
            Проверяем, не использовался ли автомобиль в такси или других коммерческих целях, что может сказаться на его состоянии.
          </p>
        </div>
         <div class="instruction__block instruction-block">
          <span class="instruction-block__title">Испытание на дороге</span>
          <p class="instruction-block__text">
            Конечный этап включает тест-драйв, чтобы лично убедиться в идеальном сочетании комфорта, управляемости и работы всех систем автомобиля в динамике.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
