<section class="services">
  <div class="container services__container">
    <h2 class="title services__title">Наши услуги автоподбора</h2>
    <div class="services__cards">
      <div class="services__card services-card card">
        <img class="services-card__image" src="img/services-1.webp" alt="a man checks the paintwork to see if it has been repainted" />
        <h3 class="services-card__title">Подбор автомобиля с пробегом под ключ</h3>
        <ul class="list-reset services-card__list">
          <li class="services-card__item">Поиск и проверка автомобилей</li>
          <li class="services-card__item">Комплексная диагностика авто</li>
          <li class="services-card__item">Торг с продавцом</li>
          <li class="services-card__item">Сопровождение сделки</li>
        </ul>
        <div class="services-card__bottom">
          <div class="services-card__bottom-left">
            <span class="services-card__text">Цена:</span>
            <span class="services-card__price">от 50 000 руб.</span>
          </div>
          <button class="btn-reset btn btn--small services-card__btn _modal-open" data-modal-open="modal-call">Заказать</button>
        </div>
      </div>
      <div class="services__card services-card card">
        <img class="services-card__image" src="img/services-2.webp" alt="a man checks the paintwork to see if it has been repainted" />
        <h3 class="services-card__title">Выездная диагностика автомобиля</h3>
        <ul class="list-reset services-card__list">
          <li class="services-card__item">Выездная комплексная диагностика</li>
          <li class="services-card__item">Проверка юридической чистоты</li>
          <li class="services-card__item">Проверка на скрытие последствий ДТП</li>
          <li class="services-card__item">Экспертиза перед покупкой</li>
        </ul>
        <div class="services-card__bottom">
          <div class="services-card__bottom-left">
            <span class="services-card__text">Цена:</span>
            <span class="services-card__price">от 5 000 руб.</span>
          </div>
          <button class="btn-reset btn btn--small services-card__btn _modal-open" data-modal-open="modal-call">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>
