<section class="video">
  <div class="container">
    <h2 class="title video__title">Видео нашей работы</h2>
    <div class="video__content">
      <div class="video-swiper-button-prev">
        <svg class="video__arrow-prev">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <div class="video-swiper-button-next">
        <svg class="video__arrow-next">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <div class="video-swiper swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide video__slide">
            <iframe
              width="300"
              height="504"
              src="https://www.youtube.com/embed/ARnu5rLkLSw"
              title="macOS or Linux? 🤔 #Shorts"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="swiper-slide video__slide">
            <iframe
              width="300"
              height="504"
              src="https://www.youtube.com/embed/5789U8zphQ0"
              title="Btw I use Arch Linux."
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="swiper-slide video__slide">
            <iframe
              width="300"
              height="504"
              src="https://www.youtube.com/embed/KwumF1jmWAw"
              title="Linux VS Mac VS Windows 🫣 #coding #programming #computerscience #shorts"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="swiper-slide video__slide">
            <iframe
              width="300"
              height="504"
              src="https://www.youtube.com/embed/ARnu5rLkLSw"
              title="macOS or Linux? 🤔 #Shorts"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="swiper-slide video__slide">
            <iframe
              width="300"
              height="504"
              src="https://www.youtube.com/embed/ARnu5rLkLSw"
              title="macOS or Linux? 🤔 #Shorts"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
