// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Involve", sans-serif;
  --content-width: 1400px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --main-gap: 24px;

  @include mobile {
    --main-gap: 18px;
  }

  // colors
  --color-light: #fff;
  --color-black: #000;
  --color-mirage: #192238;
  --yellow-orange: #fdb344;
}
